@model IEnumerable<wineShop.Models.Produto>
@{
    ViewBag.Title = "Home";
}
@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <h1 class="title">@ViewBag.Title - @ViewBag.Message</h1>
            <p>
                A sua melhor opção para compras de vinhos.
            </p>
        </div>
    </div>
}
@if (Model != null && Model.Count() > 0)
{
    <h3>
        Destaques:</h3>
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.ActionLink("Ver Detalhes", "Detalhes", new { id = item.IdProduto })
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>
        Nenhum produto cadastrado</h3>
}
