@model IEnumerable<wineShop.Models.Produto>
@{
    ViewBag.Title = "Home";
}
@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <h1 class="title">@ViewBag.Title - @ViewBag.Message</h1>
            <p>
                A sua melhor opção para compras de vinhos.
            </p>
        </div>
    </div>
}
<h3>
    Destaques:</h3>
<table>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.ActionLink("Carrinho", "View", new { id = item.IdProduto })
            </td>
        </tr>
        }
    }
</table>
@*<ol class="round">
    <li class="one">
        <h5>Casillero del Diablo</h5>
        Casillero del Diablo - Carmenere.
        <img alt="Casillero del Diablo - Carmenere" src="../../Images/produtos/casillero_carmenere.jpg" />
    </li>

    <li class="two">
        <h5>Concha y Toro</h5>
        Concha y Toro - Cabernet Sauvignon.
        <img alt="Concha y Toro - Cabernet Sauvignon" src="../../Images/produtos/casillero_carmenere.jpg" />
    </li>
</ol>*@ 