@model wineShop.Models.Carrinho

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Carrinho</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Produto.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Produto.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataInclusao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataInclusao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdCarrinho }) |
    @Html.ActionLink("Back to List", "Index")
</p>
