@model wineShop.Models.Carrinho

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Carrinho</legend>

        @Html.HiddenFor(model => model.IdCarrinho)

        <div class="editor-label">
            @Html.LabelFor(model => model.IdProduto, "Produto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdProduto", String.Empty)
            @Html.ValidationMessageFor(model => model.IdProduto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Count)
            @Html.ValidationMessageFor(model => model.Count)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataInclusao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataInclusao)
            @Html.ValidationMessageFor(model => model.DataInclusao)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
